# Dependencies
node_modules/

# Data folder (exclude from Git - too large)
Data/

# BiomedVis datasets (exclude from Git - too large)
downloadData/biomedvis-24gb/
downloadData/biomedvis-highres/
biomedvis-high-res/

# Build output
dist/
build/
visualization_data/
# IDE
.vscode/
.idea/
*.swp
*.swo
vis2026/data/hi_res/hi_res_channels/
# OS
.DS_Store
Thumbs.db
node_modules/
*.raw


VIS2026/Hi_res/Hi_res_dataset/data.npy
/VIS2026/Hi_res/subgraphs_Hi_res_infal_2688_3456/Inflammation
/VIS2026/Hi_res/NormalizedChannel_Hi_res_infal_2688_3456
/VIS2026/Hi_res/preprocessed_Hi_res_infal_2688_3456
